.App {

}

.Header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.Title {
  text-align: center;
  font-size: 1.5em;
}

.Intro {
  text-align: center;
  font-size: large;
}

.Categories, .FlashCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Category, .FlashCard {
  width: 40%;
  height: 300px;
  text-align: center;
  border-radius: 40px;
  margin: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: bold;
  font-size: xx-large;
}

.Category {
  background-color: coral;
}

.front {
  background-color: dodgerblue;
}

.back {
  background-color: darkcyan;
}